# Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:

___Objectives:___
- List commonly used libraries used by Data Scientist
- run simple arithmetic expression
- use comments in code cells
- use different size headers

In this notebook, Data Science Tools and Ecosystem are summarized.

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. Scikit-learn
4. ggplot

| Data Science Tools |
----------------------
| MySQL |
| github |
| Jupyter Notebook |

### Below are a  few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60
print( minutes, "minutes are equal to", hours, "hours")

200 minutes are equal to 3.3333333333333335 hours

## Author
Krzysztof Janczewski